@media (max-width: 501px) {
  .header {
    height: 700px;
    width: 100% !important;
  }
  .header_logo {
    display: none;
  }
  .nav {
    transition: all 0.5s;
  }
  .nav_container {
    position: absolute;
    flex-flow: column;
    top: 50px;
    width: 100%;
    background-color: #2f3b4b;
    padding: 0;
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
  }
  .nav_menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 1em;
    font-weight: 600;
    border-bottom: 1px solid gray;
    align-items: center;
  }
  .nav_button {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
  }
  .article_title_wrap {
    padding: 60px 0;
  }
  .siteinfo_container {
    flex-flow: column;
    width: 100%;
  }
  .siteinfo_introduce {
    border-right: none;
    width: 90%;
  }
  .siteinfo_introduce2 {
    width: 90%;
  }
  .study_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: repeat(4, auto);
    max-height: unset;
    margin-bottom: 13%;
    transition: all 0.9s;
  }
  .study_studybox {
    width: 55px;
    height: 55px;
    margin: 10px;
    margin-bottom: 25px;
  }
  .study_title {
    letter-spacing: 2px;
    opacity: 0;
  }
  .study_text {
    opacity: 0;
  }
  .study_img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .study_label {
    display: none;
  }
  .footer {
    justify-content: center;
    height: 90vw;
  }
  .footer_contact_container {
    flex-flow: column;
    width: 90%;
    margin: 0;
    margin-top: 12%;
    margin-bottom: 12%;
  }
  .footer_contact1 {
    margin-bottom: 6%;
    padding: 8%;
    width: max-content;
    border-right: none;
    border-bottom: 2px dashed gray;
    text-align: center;
    font-size: 1.2em;
  }
  .footer_contact2 {
    padding: 0;
    width: 80%;
    justify-content: space-around;
  }
  .footer_contact2 div {
    margin-left: unset;
    width: 40px;
    height: 40px;
    width: max-content;
    font-size: 40px;
  }
  #more_checkbox:checked + .study_container {
    max-height: 1200px;
  }
  .top_btn_wrap:hover #top_btn {
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  #more_checkbox:checked + .study_container {
    max-height: 1000px;
  }
}

@media (min-width: 1050px) {
  #more_checkbox:checked + .study_container {
    max-height: 500px;
  }
}

@media (min-width: 1250px) {
  .study_container,
  .question_container,
  .siteinfo_container,
  .nav_container {
    width: 1250px;
  }
}
